*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header#header{
    background-color: rgba(0, 0, 0, 0.815);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

header#header > .box-logo{
    background-image: url(../assets/hider.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 2rem;
    align-self: center;
}

header#header > .box-navbar{
    text-align: center;
}

header#header > .box-navbar > h2#navbar-berlian3{
    color: white;
}

header#header > .box-navbar > hr#pemisah-navbar{
    width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
}

header#header > .box-navbar > .navbar > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header#header > .box-navbar > .navbar > ul li a{
    padding: 10px;
    text-decoration: none;
    color: #898D8D;
}

header#header > .box-navbar > .navbar > ul li a:hover{
    color: #EF0000;
}

header#header > .icon-nav{
    font-size: 24px;
    display: none;
    align-items: center;
    padding: 2rem;
    color: white;
}
/* header end */

/* main */
    main#main{
        width: 100%;
        background-color: #898D8D;
    }
/* hero */
    main#main > .hero{
        background-image: url(../assets/hider.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        width: 100%;
        height: 85.5vh;
        align-content: center;
        text-align: center;
    }

    main#main > .hero > header#hider-hero{
        height: 15%;
        align-content: center;
        color: white;
    }

    main#main > .hero > article#article-hero{
        height: 85%;
    }

    main#main > .hero > article#article-hero > h3#bengkel{
        font-size: 22px;
        padding-top: 2rem;
        color: white;
    }

    main#main > .hero > article#article-hero > h1#b3{
        font-size: 90px;
        color: #EF0000;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }

    main#main > .hero > article#article-hero > p#p-hero{
        font-size: 18px;
        color: white;
    }

    main#main > .hero > article#article-hero > button#b-loc{
        margin-top: 5rem;
        padding: 7px 15px 7px 15px;
        border-radius: 10px;
    }

    main#main > .hero > article#article-hero > button#b-loc > a{
        text-decoration: none;
        color: black;
    }

    main#main > .hero > article#article-hero > button#b-loc > a:hover{
        color: #EF0000;
    }

    main#main > .hero > article#article-hero > .sosmed{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    main#main > .hero > article#article-hero > .sosmed > a{
        text-decoration: none;
        color: black;
    }

    main#main > .hero > article#article-hero > .sosmed > a > #ig{
        font-size: 35px;
        margin-right: 0.5rem;
    }

    main#main > .hero > article#article-hero > .sosmed > a > #wa{
        font-size: 35px;
        margin-right: 0.5rem;
    }

    main#main > .hero > article#article-hero > .sosmed > a > #tt{
        font-size: 35px;
    }
/* hero end */

/* service */
    main#main > .service{
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    main#main > .service > header#hider-service{
        margin-bottom: 2.5rem;
        height: 10%;
    }

    main#main > .service > header#hider-service > h3{
        font-size: 25px;
    }

    main#main > .service > header#hider-service > h2{
        font-size: 55px;
    }

    main#main > .service > article#article-service{
        width: 100%;
        text-align: -webkit-center;
        height: 85%;
    }

    main#main > .service > article#article-service > .box-service{
        width: 60%;
        padding-top: 20px;
        height: 22vh;
        margin-bottom: 1.2rem;
    }

    main#main > .service > article#article-service > .box-service > .text{
        height: 10vh;
        margin-left: auto;
        width: 73%;
        text-align-last: start;
        align-content: center;
        padding-left: 10px;
    }

    main#main > .service > article#article-service > .box-service > .text > p{
        font-size: 25px;
        text-align: start;
    }

    main#main > .service > article#article-service > .box-service > .kotak{
        width: 85%;
        height: 4vh;
        background-color: blue;
        position: relative;
        margin-top: 1rem;
        margin-left: auto;
    }

    main#main > .service > article#article-service > .box-service > .kotak > .img-bulat{
        position: absolute;
        background-image: url(../assets/hider.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        bottom: -1px;
        left: -50px;
    }
/* service end */

/* main end */

/* media query */
@media only screen and (max-width: 810px){
    main#main > .hero > article#article-hero > h1#b3{
        font-size: 75px;
    }
}

@media only screen and (max-width: 650px){
    header#header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    header#header > .box-logo{
        width: 65px;
        height: 65px;
    }

    header#header > .box-navbar{
        padding-top: 1rem;
    }

    header#header > .box-navbar > .navbar{
        padding-top: 10px;
        padding-bottom: 12px;
    }

    header#header > .box-navbar > .navbar > ul{
        flex-direction: column;
        width: 100%;
    }

    header#header > .box-navbar > .navbar > ul.hidden{
        display: none;
    }

    header#header > .box-navbar > .navbar > ul > li{
        margin-bottom: 0.5rem;
    }

    header#header > .icon-nav{
        display: flex;
        align-items: center;
    }

    main#main > .hero > article#article-hero > h1#b3{
        font-size: 60px;
    }

    main#main > .hero > article#article-hero > h3#bengkel{
        font-size: 19px;
    }

    main#main > .hero > article#article-hero > p#p-hero{
        font-size: 15px;
    }
}

@media only screen and (max-width: 535px){
    main#main > .hero > article#article-hero > h1#b3{
        font-size: 50px;
    }
}

@media only screen and (max-width: 515px){
    header#header > .box-logo{
        margin-right: 20px;
        width: 50px;
        height: 50px;
    }

    header#header > .box-navbar > hr#pemisah-navbar{
        width: 200px;
    }

    header#header > .icon-nav{
        padding: 10px;
        margin-left: 10px;
    }

    main#main > .service > article#article-service > .box-service{
        width: 95%;
        height: 20vh;
    }

    main#main > .service > article#article-service > .box-service > .text{
        height: 7vh;
        padding-top: 20px;
    }

    main#main > .service > article#article-service > .box-service > .text > p{
        font-size: 17px;
        text-align: start;
    }

    main#main > .service > article#article-service > .box-service > .kotak > .img-bulat{
        width: 85px;
        height: 85px;
    }
}


@media only screen and (max-width: 450px){
    main#main > .hero > article#article-hero > h1#b3{
        font-size: 40px;
    }
}
/* media query end */